<?xml version="1.0"?>

 <launch>
 <!-- Arguments -->
	<arg name="multi_robot_name" default="omni_0" />

<group ns = "$(arg multi_robot_name)">

<!--======== map server ========-->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find omni_base_slam)/map/cht_map.yaml" />

	<!--=========== amcl ===========-->
    	<!--<arg name="init_x" default="0" />
    	<arg name="init_y" default="0" />
    	<arg name="init_a" default="0" />-->
	<!--<remap from="map" to="map_amcl"/>-->

    	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<!-- Publish scans from best pose at a max of 10 Hz -->
	<param name="odom_frame_id" value="/$(arg multi_robot_name)/base_odom"/>
        <param name="global_frame_id" value="map"/>
	<param name="base_frame_id" value="/$(arg multi_robot_name)/base_link"/>

        <param name="use_map_topic" value="true"/>
        <param name="first_map_only" value="true"/>
        <param name="tf_broadcast" value="true"/>

        <param name="initial_pose_x" value="0"/>
        <param name="initial_pose_y" value="0"/>
        <param name="initial_pose_a" value="0"/>
        <param name="initial_cov_xx" value="0.4" />
        <param name="initial_cov_yy" value="0.4" />
		<param name="initial_cov_aa" value="0.6" />

        <param name="transform_tolerance" value="0.05" />
        <param name="gui_publish_rate" value="5.0"/>
        <param name="min_particles" value="500"/>
        <param name="max_particles" value="4000"/>
        <param name="kld_err" value="0.02"/>
        <param name="kld_z" value="0.85"/>

		<!--    NOTE
		alpha: expected noise in odometry's [odom_m] estimate from [robot_m] component of the robot's motion. In meters
		=====================================================
		alpha1:[odom_m]/rotation    [robot_m]/rotational
		alpha2:[odom_m]/rotation    [robot_m]/translational
		alpha3:[odom_m]/translation [robot_m]/translational
		alpha4:[odom_m]/translation [robot_m]/rotational
		alpha5:(omni only)tendency of the robot to translate (without rotating) perpendicular to the observed direction of travel
		-->
        <param name="odom_model_type" value="omni-corrected"/>
		<param name="odom_alpha1" value="0.9"/>
        <param name="odom_alpha2" value="0.1"/>
        <param name="odom_alpha3" value="0.05"/>
        <param name="odom_alpha4" value="0.01"/>
		<param name="odom_alpha5" value="0.04"/>

		<param name="laser_model_type" value="likelihood_field"/>
        <param name="laser_z_hit" value="0.7"/>
        <param name="laser_z_short" value="0.24"/>
        <param name="laser_z_max" value="0.001"/>
        <param name="laser_z_rand" value="0.059"/>
        <param name="laser_sigma_hit" value="0.2"/>
        <param name="laser_lambda_short" value="0.1"/>
        <param name="laser_min_range" value="0.25"/>
        <param name="laser_max_range" value="5"/>
        <param name="laser_max_beams"  value="200"/>
	<param name="laser_likelihood_max_dist" value="16.0"/>

        <param name="update_min_d" value="0.025"/>
        <param name="update_min_a" value="0.06"/>
        <param name="resample_interval" value="2"/>
        <param name="recovery_alpha_slow" value="0.001"/>
        <param name="recovery_alpha_fast" value="0.05"/>

		</node>

	<!-- for nav -->


    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- global planner -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <rosparam file="$(find omni_base_nav)/cfg/global_planner_params.yaml" command="load" />

		<!-- local planner -->
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
        <rosparam file="$(find omni_base_nav)/cfg/dwa_local_planner_params.yaml" command="load"/>
		<remap from="odom" to="/odometry/filtered"/>

        <!-- params for move_base -->
        <param name="planner_frequency" value="2.0" />
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="3.0" />
        <param name="oscillation_timeout" value="5.0" />
        <param name="oscillation_distance" value="0.3" />
        <param name="clearing_rotation_allowed" value="false" />
        <!-- params for costmap layers -->
        <rosparam file="$(find omni_base_nav)/cfg/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find omni_base_nav)/cfg/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find omni_base_nav)/cfg/recovery_behaviors.yaml" command="load" />

</node>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
	</group>
</launch>
