<?xml version="1.0"?>
<!--
Software License Agreement (BSD)
\authors   Ewing Kang <ewing.kang@adlink.com>
\copyright Copyright (c) 2018, ADLINK Inc., All rights reserved.
-->

<launch>

  <!--- Run gmapping -->
  <include file="$(find omni_base_explore)/launch/omni_exp_gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find omni_base_explore)/launch/omni_exp_movebase.launch" />

  <!-- Run Frontier Exploration -->
  <include file="$(find omni_base_explore)/launch/omni_exp_explore.launch" />

</launch>