<launch>

<arg name="imu_frame" value="base_imu"/>

<include file="$(find omni_base_driver)/launch/omni_base_driver.launch">
	<arg name="cmd_vel_arg"  	value="cmd_vel"/>
	<arg name="odom_topic_arg"  value="base_odom"/>
	<arg name="odom_id_arg"   	value="base_odom" />
	<arg name="imu_topic_arg"	value="imu" />
	<arg name="enable_tf_arg"  	value="true" />
	<arg name="vel_timeout_arg" value="1" />
</include>

</launch>
