<launch>

  <arg name="imu_id_arg"     default="base_imu"/>
  <arg name="cmd_vel_arg"    default="cmd_vel"/>
  <arg name="odom_topic_arg" default="odom"/>
  <arg name="odom_id_arg"    default="odom" />
  <arg name="imu_topic_arg"  default="imu" />
  <arg name="enable_tf_arg"  default="true" />
  <arg name="vel_timeout_arg" default="10" />


  <node name="omni_base_driver"  pkg="omni_base_driver"  type="omni_base_driver.py" output="screen">
      
    <!-- serial config -->
    <param name="port"             type="string" value="/dev/ttyS2"/>  
    <param name="baudrate"         type="int"    value="115200"/>
    <param name="serial_timeout"   type="double"    value="10"/>

    <!-- topic names -->
    <param name="cmd_vel"  type="string"   value="$(arg cmd_vel_arg)"/>
    <param name="odom_topic"  type="string"   value="$(arg odom_topic_arg)"/>
    <param name="imu_topic"    type="string" value="$(arg imu_topic_arg)" />
    
    <!-- tf id -->
    <param name="base_id"    type="string" value="base_link" />
    <param name="odom_id"    type="string" value="$(arg odom_id_arg)" />
    <param name="imu_id"    type="string" value="$(arg imu_id_arg)" />
    <param name="enable_tf" type="bool" value="$(arg enable_tf_arg)" />
    
    <!-- frequencies -->
    <param name="odom_freq" type="double" value="50" />
    <param name="imu_freq" type="double" value="120" />
    <param name="tx_freq" type="double" value="5" />
    
    <!-- control config -->
    <param name="vel_gain" type="double" value="70" />
    <param name="omg_gain" type="double" value="500" />
    
    <param name="cmd_vel_timeout" type="double" value="$(arg vel_timeout_arg)" />

  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu"
		  args="0.01 -0.035 -0.09 -1.57079632679 0.0 3.14159265359 /base_link /$(arg imu_id_arg) 100" />
  
</launch>
