<?xml version="1.0" ?>
<robot name="omni_bot" xmlns:xacro="http://ros.org/wiki/xacro">
	<link name="base_link"/>
  	<joint name="base_link_to_imu" type="fixed">
    		<parent link="base_link" />
    		<child link="imu"/>
    		<origin xyz="-0.005 0.035 -0.06" rpy="3.1415926 0.0 0.0"/>
  	</joint>
	<link name="imu"/>
  
  	<joint name="base_link_to_laser" type="fixed">
    		<parent link="base_link" />
    		<child link="laser_frame"/>
    		<!-- reverse 180 degree
				<origin xyz="0.0 0.0 0.125" rpy="0.0 0.0 3.1415926"/>
			-->
    		<origin xyz="0.0 0.0 0.125" rpy="0.0 0.0 0.0"/>
  	</joint>
  	<link name="laser_frame"/>
</robot>
